@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
  transition: 0.6s;
  margin: 0;
  padding: 0;
  background-color: rgb(241, 239, 239);
  font-family: 'Poppins', sans-serif;
  color: rgb(57, 57, 57)
}

h1 {
  font-size: 70px;
  line-height: 70px;
  font-weight: 300;
  margin: 10px 0 10px 0;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  margin: 10px 0;
}

.square h2 {
  margin: 50px 0 10px 0;

}
.square-text {
  background-color: #DEB6AB;
}
.dark .square-text{
  background-color: black;
}
p {
  margin: 0px;
  font-size: 20px;
}

a {
  color: #0F3D3E;
  font-size: 20px;
  text-decoration: none;
  font-weight: 200;
}

.dark a {
  color: #FCE2DB;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.switch {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.6s;
  box-shadow:
    inset 4px 4px 4px rgb(255, 255, 255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
  background-color: rgb(57, 57, 57);
  transition: 0.6s;
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  left: 45px;
  top: 5px;
}

.dark .flicker {
  transform: translateX(40px);
}

.dark>* {
  color: white;
}

.main {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.main-text {
  padding: 30px;
  margin-bottom: 100px;
}

.square {
  width: 550px;;
  margin: 2%;
  height: 550px;
  background-color: white;
  text-align: center;
}

.dark .square {
  background-color: rgb(71, 71, 71);
}

#tom-tom {
  background-image: url("./components/tom-tom.png");
  background-size: cover;
  background-position: top;
}

#blog {
  background-image: url("./components/blog.png");
  background-size: cover;
}

#keeper {
  background-image: url("./components/keeper.png");
  background-size: cover;
}

#protfolio {
  background-image: url("./components/protfolio (2).png");
  background-size: cover;
}

.sub-section {
  display: flex;
  flex-wrap: wrap;
}

.hero-image {
  position: relative;
  width: 50%;
  height: 350px;
  display: block;
  margin-bottom: 100px;
}

.cube {
  position: absolute;
  width: 80px;
  height: 80px;
  /* background-color: pink; */
  transform: rotate(-25deg) skew(25deg);
}
.cube::before {
  position: absolute;
  content: "" ;
  width: 21px;
  height: 100%;
  /* background-color: blue; */
  transform: skewY(-45deg);
  left: -20px;
  bottom: -10px;
}

.cube::after {
  position: absolute;
  content: "" ;
  width: 100%;
  height: 21px;
  /* background-color: red; */
  transform: skewX(-45deg);
  left: -10px;
  bottom: -20px;
}
#html {
  left: 100px;
  bottom: 80px;
  background-image: url("components/html-image.png");
  background-size: cover;
  background-color: #FAD9A1;
  box-shadow: -60px 60px 20px rgb(50 50 50/15%);
}
#html:before {
  background-color: #ECB390;
}
#html:after{
  background-color: #E8AA42;
}


#css {
  left: 250px;
  bottom: 240px;
  background-image: url("components/css-image.png");
  background-size: cover;
  background-color: #FAD9A1;
  box-shadow: -100px 100px 20px rgb(50 50 50/15%);
}
#css:before {
  background-color: #ECB390;
}
#css:after{
  background-color: #E8AA42;
}


#javascript {
  left: 450px;
  bottom: 200px;
  background-image: url("components/javascript-image.png");
  background-size: cover;
  background-color: #FAD9A1;
  box-shadow: -40px 40px 20px rgb(50 50 50/15%);
}
#javascript:before {
  background-color: #ECB390;
}
#javascript:after{
  background-color: #E8AA42;
}

#react {
  left: 350px;
  bottom: 40px;
  background-image: url("components/python-image.png");
  background-size: cover;
  background-color: #FAD9A1;
  box-shadow: -80px 80px 20px rgb(50 50 50/15%);
}
#react:before {
  background-color: #ECB390;
}
#react:after{
  background-color: #E8AA42;
}







footer {
  display: flex;
  justify-content: center;
  padding: 100px 30px;
  background-color: #F6F6F6;
}

.dark footer {
  background-color: rgb(62, 62, 62)
}

@media only screen and (min-width: 970px) {
  .main-text {
    width: 50%;
  }

  .square {
    width: 48%;
    margin: 1%;
    height: 600px;
  }
}
@media only screen and (max-width: 1180px) {
  .hero-image {
    display: none;

  }
}
